body {
background-color: whitesmoke;
font-family: verdana;
margin: 0;
}

h1 {
font-size: 18px;
color: darkred;
}

h2 {
font-size: 16px;
color: darkorange;
}

p { 
font-size: 16px;
}
/* Container */
.container {
box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.2);
margin:auto;
margin-top: 50px;
width: 50%;
height: auto;
background-color: whitesmoke;
padding:50px;

}
/* ----- Navbar ----- */
.navbar {
width: 100%;
overflow: auto;
margin-top: 0px;
background-color: darkorange;
position: relative;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li :hover{
  color: green;
  cursor: pointer;
}

.navbar .active {
  color: green;
}


