/* -------------------- Color Pallet -------------------- */
/*
Tyrian Purple: #5F0F40
Ruby Red: #9A031E
Dark Orange: #FB8B24
Spanish Orange: #E36414
Midnight Green: #0F4C5C
*/
/* -------------------- Super Globals -------------------- */
body {
background-color: whitesmoke;
font-family: verdana;
margin: 0;
}

h1 {
font-family: 'Eagle Lake', cursive;  
font-size: 18px;
color: #9A031E;
}

h2 {
font-family: 'Eagle Lake', cursive;  
font-size: 16px;
color: #5F0F40;
}

h3 {
font-family: 'Eagle Lake', cursive;  
font-size: 16px;
font-weight: bold;
color: #5F0F40;
}

p { 
font-size: 16px;
display: inline-block;
}

img {
display: inline-block;
}

::selection {
color: white;
background: black;
}

/* Container */
.container {
box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.2);
margin:auto;
margin-top: 50px;
margin-bottom: 50px;
width: 75%;
height: auto;
background-color: whitesmoke;
padding:50px;

}
/* ----- Navbar ----- */
.navbar {
width: 100%;
overflow: auto;
margin-top: 0px;
background-color: darkorange;
position: relative;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li :hover{
  color: #9A031E
  cursor: pointer;
}

.navbar .active {
  color: #9A031E
}



