/* -------------------- Color Pallet -------------------- */
/*
Tyrian Purple: #5F0F40
Ruby Red: #9A031E
Dark Orange: #FB8B24
Spanish Orange: #E36414
Midnight Green: #0F4C5C
*/
/* -------------------- Super Globals -------------------- */
body {
height:100%;
margin: 0px;
font-family: verdana;
color: white;
background-color: whitesmoke;
margin-top: 0;
margin-left: 0;
}

::selection {
  color: white;
  background: black;
}

h1 {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
  color: #5F0F40;
}
/* -------------------- Grid Container -------------------- */
main {
display: grid;
background-color: none;
grid-template-areas:
"header header header"
"left middle right"
"footer footer footer";
grid-template-columns: 100px auto 100px;
grid-template-rows: 300px auto 300px;

}

/* -------------------- Grid Items -------------------- */
header {
grid-area: header;
background-image: linear-gradient(to right, #E36414 , #FB8B24);
clip-path: polygon(
  0 0,
  100% 0,
  100% 100%,
  0 calc(100% - 5vw)
);
}

left {
grid-area: left;
}

middle {
grid-area: middle;
display: block;
color: black;
}


right {
grid-area: right;
}

footer {
grid-area: footer;
background-image: linear-gradient(to right, #E36414 , #FB8B24);
display: inline-block;
text-align: center;
padding:  50px 5px 5px 5px;
}

/* -------------------- Header Items -------------------- */
/* ----- Logo ----- */
.title {
display: fixed;
font-family: 'Eagle Lake', cursive;
text-align: center;
} 

.logo {
width: 100px;
height: 100px;
filter: invert(100%); 
display: block;
margin-left: auto;
margin-right: auto;
}

.logo:hover{
filter: invert(.8);
cursor: pointer;
}

/* ----- Navbar ----- */
.navbar {
width: 100%;
overflow: auto;
margin: 20px 0 0 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li :hover{
  color: green;
  cursor: pointer;
}

.navbar .active {
  color: green;
}



/* -------------------- Tile Cards -------------------- */
.content {
margin-top: 100px;
margin-right: 30%;
float: right;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
margin: 20px 10px 20px 10px;
width: 600px;
height: 100px;
background-color: whitesmoke;
display: flex;
}

.avatar {
width: 100px;
height: 100px;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
cursor: pointer;
-webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
transition: 0.3s;
}

.container {
padding: 2px 16px;

}

@media screen and (max-width: 800px) {
.card {
width: 100%;
}
.content {
margin-right: 10%;
}

}